<a href="https://colab.research.google.com/github/cindykhris/SummerInternship2020/blob/master/COVID_pathways.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [113]:
df_1 = pd.read_table('/content/drive/My Drive/SummerResearch/COVID-19/DESeq_Covid-19_Series_2__expression_genes_FPKM_DeSeq2_GO_Signif.txt')
df_1 = df_1.rename(columns={'GO_description':"GO"})

                                                  GO  ...      exp1
0           GO:0034340 response to type I interferon  ...  0.002823
1  GO:0060337 type I interferon-mediated signalin...  ...  0.002823
2  GO:0071357 cellular response to type I interferon  ...  0.002823
3                  GO:0045087 innate immune response  ...  0.010641
4                        GO:0006952 defense response  ...  0.013822

[5 rows x 7 columns]

In [39]:
df_2 = pd.read_table('/content/drive/My Drive/SummerResearch/COVID-19/DESeq_Covid-19_Series_2__expression_genes_FPKM_DeSeq2_Signif_Gene_for_signifGO.txt')

In [114]:
df_3 = pd.read_table('/content/drive/My Drive/SummerResearch/COVID-19/DESeq_Covid-19_Series_2__expression_genes_FPKM_DeSeq2_Signif_Gene_for_signifKEGG.txt')

   ENTREZID  ...          padj
0       716  ...  3.726173e-16
1       715  ...  1.770978e-15
2      5054  ...  3.775770e-13
3       718  ...  1.865729e-05
4      7035  ...  4.844380e-03

[5 rows x 35 columns]

In [86]:
df_4 = pd.merge(df_1, df_2)
df_5 = pd.merge(df_4, df_3)

In [139]:

df_5 = df_5[['GO', 'Ensemle_ID', 'log2FoldChange', 'padj']]
df_5 = df_5.drop_duplicates(subset=['GO'])
df_5

                                        GO  ...          padj
0        GO:0045087 innate immune response  ...  3.726173e-16
1              GO:0006952 defense response  ...  3.726173e-16
2               GO:0006955 immune response  ...  3.726173e-16
3       GO:0002252 immune effector process  ...  3.726173e-16
21   GO:0051707 response to other organism  ...  3.775770e-13
22  GO:0009607 response to biotic stimulus  ...  3.775770e-13

[6 rows x 4 columns]

In [144]:
sign_genes = df_5[['Ensemle_ID']]
 ≈ßx

         Ensemle_ID
0   ENSG00000182326
1   ENSG00000182326
2   ENSG00000182326
3   ENSG00000182326
21  ENSG00000106366
22  ENSG00000106366