<a href="https://colab.research.google.com/github/cindykhris/Summer_Internship_2020/blob/master/SummerInternship2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pine Biotech Summer Reasearch

**Cindy Pino**


Abstract: In this study, we will analyze the gene expression differnt coronaviruses (CoVs) infections to determine how each virus differs when causing a disease. Here, we focuses the analysis on samples from SARS-CoV-1, MERS, and SARS-CoV-2. 
The raw sequence data (fastq files) for the SARS-CoV-1 was downloaded from GEO [GSE56192](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE56192), including their corresponding Mock-treated controls). The raw sequence data (fastq files) for the SARS-CoV-2 infections were downloaded from GEO [GSE147507](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE147507)), including their corresponding Mock-treated controls). The raw sequence data (fastq files) for the MERS infections were downloaded from GEO [GSE139516](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE139516), including their corresponding Mock-treated controls.

In this Jupyter notebook, I will use both R and Python to analyze three viruses: MERS, SARS-CoV-1,  and SARS-CoV-2. I selected the transcriptomic data (gene expression), taking raw FASTQ files of the sequenced of mock and virus infected tissues. I analyzed this sequences to understand how genes are expressed in these three different tissues infected with the coronaviruses. Differences in gene expression are useful to understand how samples are comparable to each other; however, the downside to gene expression patters is the thousands of genes and how to sort through manually. I used Principal Component Analysis - a dimensionality reduction method to help with the cleaning and analysis.

##Preparing the Notebook
First, let's active R magic. Don't forget to use %%R before running a R code 


---

In [91]:
#active R magic
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

##Import files R

In [92]:
%%R
# Example package installation and plotting
install.packages("ggplot2")
#ggplot2::ggplot(mtcars, ggplot2::aes(x = am, y = disp)) + ggplot2::geom_point()

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/ggplot2_3.3.2.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 3054431 bytes (2.9 MB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 2.9 MB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpn0ArqG/downloaded_packages’
R[write to console]:
R[write to console]:

In [93]:
%%R
if (!requireNamespace("BiocManager", quietly = TRUE))
    install.packages("BiocManager")

BiocManager::install("DESeq2")

R[write to console]: Bioconductor version 3.10 (BiocManager 1.30.10), R 3.6.3 (2020-02-29)

R[write to console]: Installing package(s) 'DESeq2'

R[write to console]: trying URL 'https://bioconductor.org/packages/3.10/bioc/src/contrib/DESeq2_1.26.0.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 2060061 bytes (2.0 MB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 2.0 MB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpn0ArqG/downloaded_packages’
R[write to console]:
R[write to console]:

R[write to console]: Old packages: 'backports', 'curl', 'farver', 'rex', 'rprojroot'

In [94]:
%%R
if (!requireNamespace("BiocManager", quietly = TRUE))
    install.packages("BiocManager")

BiocManager::install("EnhancedVolcano")

R[write to console]: Bioconductor version 3.10 (BiocManager 1.30.10), R 3.6.3 (2020-02-29)

R[write to console]: Installing package(s) 'EnhancedVolcano'

R[write to console]: trying URL 'https://bioconductor.org/packages/3.10/bioc/src/contrib/EnhancedVolcano_1.4.0.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 6792911 bytes (6.5 MB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 6.5 MB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpn0ArqG/downloaded_packages’
R[write to console]:
R[write to console]:

R[write to console]: Old packages: 'backports', 'curl', 'farver', 'rex', 'rprojroot'

In [95]:
%%R
install.packages("tidyverse")

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/tidyverse_1.3.0.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 712837 bytes (696 KB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 696 KB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpn0ArqG/downloaded_packages’
R[write to console]:
R[write to console]:

In [96]:
%%R
install.packages('dplyr')

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/dplyr_1.0.2.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 935654 bytes (913 KB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 913 KB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpn0ArqG/downloaded_packages’
R[write to console]:
R[write to console]:

In [97]:
%%R
install.packages("magrittr")

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/magrittr_1.5.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 200504 bytes (195 KB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 195 KB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpn0ArqG/downloaded_packages’
R[write to console]:
R[write to console]:

In [98]:
%%R
install.packages("ggpubr")

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/ggpubr_0.4.0.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 2689307 bytes (2.6 MB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 2.6 MB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpn0ArqG/downloaded_packages’
R[write to console]:
R[write to console]:

In [99]:
%%R
install.packages("ggfortify")

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/ggfortify_0.4.10.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 2015096 bytes (1.9 MB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 1.9 MB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpn0ArqG/downloaded_packages’
R[write to console]:
R[write to console]:

In [100]:
%%R
install.packages("cluster")

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/cluster_2.1.0.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 380366 bytes (371 KB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 371 KB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpn0ArqG/downloaded_packages’
R[write to console]:
R[write to console]:

## Principal Component Analysis

It is not practical to try and visualize all genes, we have to reduce the complexity (or dimensionality) of this data. 


---

PCA is a technique that calsulates the best set of projections in the data to show maximal variance between samples. It simplifies a high dimension dataset to best visualize the data. The objective of PCA is to find a common dimension, so called principal component, in the form of linear combinations of the variables under investigation, and to rank them according to their importance.

In [106]:
%%R
options(echo=FALSE)
args <- commandArgs(trailingOnly = TRUE)

In [ ]:
%%R
args [1] = ('/content/drive/My Drive/SummerResearch/DESeq_Covid-19_Series_2__expression_genes_FPKM.txt') #input file
args [2] = 'YES' #transpose (YES/NO) 
args [3] = 'YES' #center (YES/NO) 
args [4] = 'YES'  #scale (YES/NO)
args [5] = 3 #number of axis to draw

In [ ]:
%%R
MaxGroupsForLegend <- 50

In [ ]:
%%R
#Read dataframe
data <- read.table (args [1], header = TRUE, row.names=1, stringsAsFactors=FALSE, check.names=FALSE)

In [ ]:
%%R
#Prepare dataframe
if (args [2] == "YES") {
  if ((rownames (data)[1] ==  "group") || (rownames (data)[1] ==  "Group") || (rownames (data)[1] ==  "GROUP")) {
    Group = t (data [1,])
    cnames =colnames (data)
    data <- read.table (args[1], header = FALSE, row.names=1, skip=2, stringsAsFactors=FALSE, check.names=FALSE)
    colnames (data) = cnames        
    
    data = data.frame (Group, t (data))
  } else {
    data = t (data)
  }
}
if ((colnames (data) [1] == "group") || (colnames (data) [1] == "Group") || (colnames (data) [1] == "GROUP")) {
  Group = data [, 1]
  data = data [, -1]
  data = transform (data, as.numeric)
  LegendTitle="Group"
} else {
  Group = rownames (data)
  LegendTitle="Sample"
}
Group = as.factor (Group)

In [ ]:
%%R

#Parse centering and scaling arguments
if(args [3] == "YES") {
  cent = TRUE
} else {
  cent = FALSE
}
if(args [4] == "YES") {
  sc = TRUE
} else {
  sc = FALSE
}

In [ ]:
%%R
#Main computation - perform PCA
pca <- prcomp (data, scale. = sc, center=cent)
pca_res = data.frame (pca$x, Group)

In [ ]:
%%R

#Draw PCA plots
todraw = as.numeric (args[5])
if (todraw < 2) {
  todraw = 2
}
if (todraw > length (colnames (pca$x))) {
  todraw = length (colnames (pca$x))
}

pdf ("PCA_plots.pdf")

In [ ]:
%%R
# Add variation percent to PC names
ei = pca$sdev^2
vp = ei / sum(ei) * 100.0
prevnames <- colnames (pca$x)
newnames <- paste (colnames (pca$x), "(", round (vp, digits=2), "%)", sep="")
newnames_prt <- paste (colnames (pca$x), " (", round (vp, digits=2), "%)", sep="")


if (length (unique (Group)) <= MaxGroupsForLegend) {
  legend_pos <- "bottom"
} else {
  legend_pos <- "none"
}

for (i in 1:(todraw-1)) {
  for (j in (i+1):todraw) {
    plot = ggplot (data.frame (pca$x), aes_string(x=colnames (pca$x) [i], y=colnames(pca$x)[j], colour = "Group")) + geom_point() + labs(x=newnames_prt[i], y=newnames_prt[j], color=LegendTitle) + theme(legend.position=legend_pos)
    print (plot)
  }
}

tmp <- dev.off ()

In [ ]:
%%R
#Save PCA table
colnames (pca$x) <- newnames
cat ("Obj\t", file="PCA_table.txt", append=FALSE)
write.table(pca$x, file="PCA_table.txt", row.names=TRUE, col.names=TRUE, sep="\t", quote=FALSE, append=TRUE)
colnames (pca$x) <- prevnames

In [ ]:
%%R
#Save some additional information
cat ("Component\t", file="PCA_additional.txt", append=FALSE)
cat (colnames(pca$x), file="PCA_additional.txt", append=TRUE, sep="\t")
cat ("\n", file="PCA_additional.txt", append=TRUE)

cat ("SDev\t", file="PCA_additional.txt", append=TRUE)
cat (pca$sdev, file="PCA_additional.txt", append=TRUE, sep="\t")
cat ("\n", file="PCA_additional.txt", append=TRUE)

cat ("VariancePerccent\t", file="PCA_additional.txt", append=TRUE)
cat (vp, file="PCA_additional.txt", append=TRUE, sep="\t")
cat ("\n", file="PCA_additional.txt", append=TRUE)

cat ("CumulVariancePerccent\t", file="PCA_additional.txt", append=TRUE)
cat (cumsum(vp), file="PCA_additional.txt", append=TRUE, sep="\t")
cat ("\n\n", file="PCA_additional.txt", append=TRUE)


cnames <- row.names(pca$rotation)
cent_d <- row.names(pca$rotation)
shift_d <- row.names(pca$rotation)
if (cent == FALSE) {
  cent_d [] <- "NA(Centering=FALSE)"
} else {
  cent_d <- pca$center
}
if (sc == FALSE) {
  shift_d <- "NA(Scaling=FALSE)"
} else {
  shift_d <- pca$scale
}

out_t <- cbind (cnames, cent_d, shift_d)
colnames (out_t) <- c ("Feature", "CenteringShift", "ScalingCoefficient")

write.table (out_t, file="PCA_additional.txt", col.names=TRUE, row.names=FALSE, append=TRUE, sep="\t")

#CORONAVIRUSES

##R

In [ ]:
%%R

df_MERS = read.table('drive/My Drive/SummerResearch/prjna580021_expression_genes.txt',skip = 1, header = TRUE)

In [ ]:
%%R
df_COVID = read.table('drive/My Drive/SummerResearch/DESeq_Covid-19_Series_2__expression_genes.txt',skip = 1, header = TRUE)

In [ ]:
%%R
df_SARS = read.table('drive/My Drive/SummerResearch/DESeq_SARS_expression_genes_FPKM.txt',skip = 1, header = TRUE)

In [ ]:
%%R
# use glimse to quickly look at the column names and data type
glimpse(df)

In [ ]:
%%R
# Cleaning the file for processing
ColNames1 <- df$id #take the column name
df = df[,-1] #take the data part - numeric values
df=as.matrix(df)
df

In [ ]:
%%R
# filter values higher or less than #
#data = df[which(df[,2]>1),]
#data = df[which(df[,2]<1),]

In [ ]:
%%R
#remove a header 
names(df) <- NULL

In [ ]:
%%R
#remove NAs from dataset
cleandata <- na.exclude(df)

In [ ]:
%%R
#Basic Settings:

colors <- c(rep('red',6),rep('blue',3),rep('green',2),rep('gray',2))
par(mar=c(14,4,2,2))
boxplot(df, main="Gene Expression",las = 2, cex.axis=0.6)

In [ ]:
%%R
#Log transformation
logdata <- log(df+1)
par(mar=c(14,4,2,2))
boxplot(logdata, main="Log Transformed Gene Expression", col = 'blue', las = 2, cex.axis=0.6)

In [ ]:
%%R
#Descriptive statistics
summary(df)

In [ ]:
%%R
hist(df, col='pink')

In [ ]:
%%R
hist(logdata, col='magenta')

In [ ]:
%%R
barplot(sort(logdata[100,]), col = "blue", main = ColNames1[2], font.axis=1, cex.axis=1, las=2)

In [ ]:
%%R
heatmap(logdata)

##SARS

## MERS

In [ ]:
##Upload MERS gene expression
dataframeMers = pd.read_table('drive/My Drive/SummerResearch/prjna580021_expression_genes.txt', )
dataframeMers.head(5)

                   id  ...  group_2_sample_6_SRR10357369_PE
0  ENSG00000000003.13  ...                           670.00
1  ENSG00000000419.11  ...                           431.00
2  ENSG00000000457.12  ...                           138.18
3  ENSG00000000460.15  ...                           484.82
4  ENSG00000000938.11  ...                             0.00

[5 rows x 13 columns]

In [ ]:
dataframeMers.columns

Index(['id', 'group_1_sample_1_SRR10357377_PE',
       'group_1_sample_2_SRR10357376_PE', 'group_1_sample_3_SRR10357375_PE',
       'group_1_sample_4_SRR10357368_PE', 'group_1_sample_5_SRR10357367_PE',
       'group_1_sample_6_SRR10357366_PE', 'group_2_sample_1_SRR10357374_PE',
       'group_2_sample_2_SRR10357373_PE', 'group_2_sample_3_SRR10357372_PE',
       'group_2_sample_4_SRR10357371_PE', 'group_2_sample_5_SRR10357370_PE',
       'group_2_sample_6_SRR10357369_PE'],
      dtype='object')

In [ ]:
data = pd.DataFrame({'id': 'group', 
         'group_1_sample_1_SRR10357377_PE': 'Normal', 
        'group_1_sample_2_SRR10357376_PE': 'Normal',
       'group_1_sample_3_SRR10357375_PE': 'Normal', 
        'group_1_sample_4_SRR10357368_PE': 'Normal',
       'group_1_sample_5_SRR10357367_PE': 'Normal', 
        'group_1_sample_6_SRR10357366_PE': 'Normal',
      
        'group_2_sample_1_SRR10357374_PE': 'MERS',
       'group_2_sample_2_SRR10357373_PE': 'MERS',
        'group_2_sample_3_SRR10357372_PE': 'MERS',
       'group_2_sample_4_SRR10357371_PE': 'MERS', 
        'group_2_sample_5_SRR10357370_PE': 'MERS',
       'group_2_sample_6_SRR10357369_PE': 'MERS'
       }, index=[0])
data.head()

      id  ... group_2_sample_6_SRR10357369_PE
0  group  ...                            MERS

[1 rows x 13 columns]

In [ ]:
df = pd.concat([data,dataframeMers]).reset_index(drop = True)
df.head(10)

                   id  ... group_2_sample_6_SRR10357369_PE
0               group  ...                            MERS
1  ENSG00000000003.13  ...                             670
2  ENSG00000000419.11  ...                             431
3  ENSG00000000457.12  ...                          138.18
4  ENSG00000000460.15  ...                          484.82
5  ENSG00000000938.11  ...                               0
6  ENSG00000000971.14  ...                               4
7  ENSG00000001036.12  ...                             846
8   ENSG00000001084.9  ...                             813
9  ENSG00000001167.13  ...                             306

[10 rows x 13 columns]

In [ ]:
#check the number of rows and columns in the dataframe
df.shape

(27610, 13)

In [ ]:
#Check for null values
df.isnull()

          id  ...  group_2_sample_6_SRR10357369_PE
0      False  ...                            False
1      False  ...                            False
2      False  ...                            False
3      False  ...                            False
4      False  ...                            False
...      ...  ...                              ...
27605  False  ...                            False
27606  False  ...                            False
27607  False  ...                            False
27608  False  ...                            False
27609  False  ...                            False

[27610 rows x 13 columns]

In [ ]:
#check the sum of NA values 
df.isnull().sum()

id                                 0
group_1_sample_1_SRR10357377_PE    0
group_1_sample_2_SRR10357376_PE    0
group_1_sample_3_SRR10357375_PE    0
group_1_sample_4_SRR10357368_PE    0
group_1_sample_5_SRR10357367_PE    0
group_1_sample_6_SRR10357366_PE    0
group_2_sample_1_SRR10357374_PE    0
group_2_sample_2_SRR10357373_PE    0
group_2_sample_3_SRR10357372_PE    0
group_2_sample_4_SRR10357371_PE    0
group_2_sample_5_SRR10357370_PE    0
group_2_sample_6_SRR10357369_PE    0
dtype: int64

In [ ]:
#removing all nas
clean_df = df.dropna(how= 'all')
clean_df.head()

                   id  ... group_2_sample_6_SRR10357369_PE
0               group  ...                            MERS
1  ENSG00000000003.13  ...                             670
2  ENSG00000000419.11  ...                             431
3  ENSG00000000457.12  ...                          138.18
4  ENSG00000000460.15  ...                          484.82

[5 rows x 13 columns]

In [ ]:
#removing all zeroes
clean_df = df.loc[~(df==0).all(axis=1)]
clean_df.head(5)

                   id  ... group_2_sample_6_SRR10357369_PE
0               group  ...                            MERS
1  ENSG00000000003.13  ...                             670
2  ENSG00000000419.11  ...                             431
3  ENSG00000000457.12  ...                          138.18
4  ENSG00000000460.15  ...                          484.82

[5 rows x 13 columns]

## COVID-19

In [ ]:
##Upload MERS gene expression
dataframeCOVID = pd.read_table('drive/My Drive/SummerResearch/DESeq_Covid-19_Series_2__expression_genes.txt', )
dataframeCOVID.head(5)

                   id  ...  group_2_sample_9_SRR11412255_SE
0  ENSG00000000003.13  ...                           263.77
1  ENSG00000000419.11  ...                           253.00
2  ENSG00000000457.12  ...                            58.14
3  ENSG00000000460.15  ...                           129.95
4  ENSG00000000938.11  ...                             0.00

[5 rows x 25 columns]